Flask==3.0.3
# gevent==24.11.1
numpy==1.26.4
# pandas==2.2.2
keras==3.8.0
# tensorflow==2.18.0
opencv-python==4.10.0.84
# matplotlib==3.9.2
# imutils==0.5.4
# imageio==2.33.1
# scikit-learn==1.5.1
ipython==8.27.0
